/* Created by Joachim Jahr*/
.menu_bar{
    display: block;
    height: 50px;
    width: 100%;
    background-color: wheat;
}


.menu {

}

.menu_row{

}

.menu_item{
    margin: 5px 0 5px 10px;
    position: static;
    display: inline-block;
    width: 200px;
}

.menu_column{
    background-color: #dfbc79;
    margin: 10px 5px 0 15px;
    visibility: hidden;
}

.menu_column_item{
    color: cornsilk;;
}

/*.menu_row_body:hover .menu_column{
    visibility: visible;
}*/

.menu_row_body{
    background-image: url("folder_body.png");
}
