#global_container{
    width: 70%;
    margin: 0 auto;
    background-color: whitesmoke;
}

#menu_field{
    width: 100%;
    color: greenyellow;
    position: relative;
    z-index: 2;
}

#triangle_topleft,
#triangle_topright{
    position: absolute;
    z-index: 1;
}
#triangle_topleft > img,
#triangle_topright > img{
    width: 100%;
    z-index: auto;
}

#triangle_topright {
    width: 80%;
    right: 0;
}

#triangle_topleft {
    width: 30%;
}

#icon{
    width: 24%;
    position: absolute;
    z-index: 2;
}

#icon > img{
    z-index: auto;
    width: 100%;
}

#boat{
    position: absolute;
    width: 100%;
    z-index: 0;
}
#boat > img{
    z-index: auto;
    width: 100%;
}

