.footer,
.footer > img{
    width: 100%;
    display: block;
}

.footer p{
    color: whitesmoke;
    background-color: #101417;
    text-align: center;
}

.footer_content{
    color: whitesmoke;
    background-color: #101417;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer_content > a{
    width: 5%;
    margin: 2.5% 2.5% 5% 2.5%;
}

.footer_content img{
    width: 100%;
}

.footer > img:after {
    content: "";
    position: absolute;
    border-right: 1px solid;
    top: -1px;
    bottom: -1px;
    right: -2px;
    z-index: 99;
    border-color: #101417;
}