#page_content_container{
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
    height: 100%;
    min-width: 1000px;
    max-width: 2000px;
    border-width: 0 2px;
    border-style: solid;
    border-color: black;
}

#picture_field{
    width: 100%;
    position: relative;
    z-index: 2;
    top: 57px; /*Igem(20px) + menu(37px)*/
}

#triangle_topleft,
#triangle_topright{
    position: absolute;
    z-index: 1;
}
#triangle_topleft > img,
#triangle_topright > img{
    width: 100%;
    z-index: auto;
}

#triangle_topright {
    width: 80%;
    right: 0;
}

#triangle_topleft {
    width: 30%;
}

#icon{
    width: 24%;
    position: absolute;
    z-index: 2;
}

#icon > img{
    z-index: auto;
    width: 100%;
}

#slideshow_container{
    position: absolute;
    width: 100%;
    z-index: 0;
    background-color: #101417;
}
#slideshow_container > img{
    z-index: auto;
    width: 100%;
}

.slideshow_picture{
    display: none;
}

.dot {
    height:13px;
    width:13px;
    padding:0;
    color:#fff;
    display:inline-block;
    border-radius:50%;
    background-color:transparent!important;
    border:1px solid #ccc!important;
}

.dot:hover,
.current_dot{
    background-color:#fff!important
}

.arrow-left,
.arrow-right,
.dot {
    cursor:pointer
}

.arrow-left{
    float:left
}

.arrow-right{
    float:right
}

.arrow-left:hover,
.arrow-right:hover{
    color:#757575
}

.slider_select{
    text-align:center;
    font-size: 20px;
    color:#fff;
    position:absolute;
    left:50%;
    bottom:10%;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
}
