html{
    height: 100%;
    margin: 0;
}
body{
    margin: 0;
    height: 100%;
/*  background: linear-gradient(135deg, #aaaaaa, black);*/
    background-image: radial-gradient(circle at 45px 45px, #aaaaaa 0%, black 130%);
    background-attachment: fixed;
}

.global_container{
    margin: 0 0 0 2%;
    height: 100%;
 }