.content{
}

.break_header{
    position: relative;
    z-index: 5;
    width: 100%;
}

.break_header > img{
    z-index: auto;
    width: 100%;
}

.paragraph_img_left,
.paragraph_img_right{
    font-family: "Arial", sans-serif;
    text-align:center;
    display: block;
    clear:both;
    width: 80%;
    margin: 5em auto;
}

.paragraph_img_right > div{
    float: right;
    width: 20%;
    margin-left: 10%;
}

.paragraph_img_left > div{
    float: left;
    width: 20%;
    margin-right: 10%;
}
.paragraph_img_left  > div > img,
.paragraph_img_right > div > img{
    width: 100%;
}


.paragraph_img_left  > p,
.paragraph_img_right > p{
    display:flex;
    justify-content:center;
    align-items:center;
    width:70%;
}

.paragraph_img_left  > h1,
.paragraph_img_right > h1{
    display:flex;
    width:70%;
    margin-bottom: 1em;
    justify-content:center;
}

.paragraph_img_left > h1{
    margin-left: 30%;
}

.paragraph_img_right > h1{
    margin-right: 30%;
}

.paragraph_no_img{
    font-family: "Arial", sans-serif;
    text-align:center;
    display: block;
    clear:both;
    width: 80%;
    margin: 5em auto;
}

.paragraph_no_img > p{
    justify-content:center;
    align-items:center;
    width:70%;
    margin: 0 auto;
}

.paragraph_no_img > h1{
    width:70%;
    justify-content:center;
    text-align: center;
    margin: 0 auto 1em auto;
}

.image{
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    text-align:center;
    display: block;
    clear:both;
}

.image > img{
    width: 100%;
}

.break_1,
.break_2{
    width: 100%;
}
.break_1 > img,
.break_2 > img{
    width: 100%;
}


.dropdown_button{
    cursor: pointer;
    margin: 0 auto;
    width: 10%;
}
.dropdown_button > img{
    width: 100%;
}


.dropdown_button:hover > img{
    content: url("../PNG/arrow_down_black.png");
}


.dragup_button{
    cursor: pointer;
    margin: 0 auto;
    width: 10%;
}
.dragup_button > img{
    width: 100%;
    content: url("../PNG/arrow_up_grey.png");
}

.dragup_button:hover > img{
    content: url("../PNG/arrow_up_black.png");
}

.dropdown_collapse{
    width: 5ch;
    margin: 0 auto;
    text-decoration: underline;
    color: blue;
}
.dropdown_collapse:hover{
    text-decoration: none;
    cursor: pointer;
}

.dropdown_paragraph{
    justify-content:center;
    text-align: center;
}

.dropdown_text{
    display: none;
}

.show_less{
    display: none;
}
