* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: url("https://2017.igem.org/wiki/images/1/1a/T--NTNU_Trondheim--Phage_space_sides4.jpg") repeat-y fixed;
    background-size: 100%;
    height: 100%;
    margin: 0 auto;
}
html{
    align-content: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Arial', serif;
}
