div#top_title{
     display: none;
 }

div#content{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

div#globalWrapper{
    align-content: center;
    padding: 0;
    height: 100%;
}

div#sideMenu{
    display: none;
}

div#mw-content-text > p{
    margin: 0;
}

div#mw-content-text p{
    font-family: 'Open Sans', sans-serif;;
    font-size: 1em;
}

div#mw-content-text h1,
div#mw-content-text h2,
div#mw-content-text h3,
div#mw-content-text h4,
div#mw-content-text h5,
div#mw-content-text h6{
    font-family: 'Arial', serif;
    font-size: 2em;
}

div#HQ_page p{
    text-align: inherit;
}

div.sosial_media > a{
    padding: 0!important;
}