* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: url("http://2017.igem.org/wiki/images/2/2e/T--NTNU_Trondheim--Phage_space_sides5%28blue%29.jpg") repeat-y fixed;
    background-size: 100%;
    height: 100%;
    margin: 0 auto;
}
html{
    align-content: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Arial', serif;
    font-size: 2em;
}

p{
    font-size: 1em;
}